.card {
  display: flex;
  flex-direction: column;
  width: 171px;
  height: 340px;
  box-sizing: border-box;
}

.additional {
  display: flex;
  width: 100%;
  height: 33px;
  justify-content: center;
  align-items: flex-start;
}
.additional > span {
  height: 24px;
  border-radius: 5px;
  padding: 0 5px;
  color: #1d1d1b;
  text-align: center;
  font-family: Visby;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: chartreuse;
}

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 33px);
  padding: 3px;
  border: 1px solid white;
}

.isActive {
  border: 1px solid #42a5f5;
  border-radius: 14px;
  transition: border 1s ease-out;
}

.img {
  position: relative;
  width: 100%;
  height: 162px;
  min-height: 162px;
  overflow: hidden;
}
.img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

.count {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 12px;
  right: 12px;
}

.type {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  min-width: 80px;
  min-height: 18px;
  right: 12px;
  bottom: 7px;
  color: #fff;
  text-align: right;
  font-family: Visby;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.name {
  display: flex;
  width: 158px;
  height: 50px;
  min-height: 50px;
  justify-content: center;
  align-items: center;
  color: #1d1d1b;
  text-align: center;
  font-family: Visby;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.price {
  display: flex;
  margin-bottom: 20px;
}

.desc {
  display: flex;
  width: 104px;
  height: 24px;
  min-height: 24px;
  justify-content: center;
  align-items: center;
  color: #1d1d1b;
  font-family: Visby;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.value {
  display: flex;
  width: 52px;
  height: 24px;
  min-height: 24px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #1d1d1b;
}

.canAdd {
  display: flex;
  width: 158px;
  height: 20px;
  min-height: 20px;
  flex-direction: column;
  justify-content: center;
  color: #909ca2;
  text-align: center;
  font-family: Visby;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.duo {
  display: flex;
  width: 158px;
  height: 30px;
  min-height: 30px;
  justify-content: center;
  color: #42a5f5;
  align-items: center;
  font-family: Visby;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  background: transparent;
}

.dnone {
  display: none;
}
